In [235]:
import json
import copy
import pickle

import pandas as pd
import numpy as np

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [7]:
tg = json.load(open('ChatExport_2021-04-28/park_main.json'))['messages']
len(tg)

1745

In [8]:
df = pd.DataFrame(tg)
df.head()

,id,type,date,actor,actor_id,action,title,text,inviter,from,from_id,file,thumbnail,media_type,sticker_emoji,width,height,reply_to_message_id,members,message_id,edited,photo,forwarded_from,mime_type,duration_seconds,poll
0,1,service,2021-04-12T13:20:34,–ü–∞—Ä–∫ –ò–Ω—Ç—É–∏—Ü–∏–∏,channel1246350211,migrate_from_group,–ü–∞—Ä–∫ –ò–Ω—Ç—É–∏—Ü–∏–∏,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,service,2021-04-12T13:34:40,Dina,user149799201,join_group_by_link,NaN,,Group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,service,2021-04-12T13:35:00,Anna Belostotskaya,user34022644,join_group_by_link,NaN,,Group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,service,2021-04-12T13:38:51,–ú–∏—Ö–∞–∏–ª –®—É–±–∏–Ω,user383206754,join_group_by_link,NaN,,Group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,service,2021-04-12T13:39:26,–ê–Ω–¥—Ä–µ–π –ú—É–Ω—Ç–∞–Ω–∏–æ–Ω,user22982,join_group_by_link,NaN,,Group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## –û–ø–∏—Å–∞–Ω–∏–µ –ø–æ–ª–µ–π

**id** - –Ω–æ–º–µ—Ä —Å–æ–±—ã—Ç–∏—è  
**type** - —Ç–∏–ø —Å–æ–±—ã—Ç–∏—è - 'service' –∏–ª–∏ 'message'  
**date** - –¥–∞—Ç–∞ –∏ –≤—Ä–µ–º—è  
**title** - –Ω–∞–∑–≤–∞–Ω–∏–µ —á–∞—Ç–∞  

–¢–æ–ª—å–∫–æ –¥–ª—è 'service':  
**actor** - –∏–º—è  
**actor_id** - –∞–π–¥–∏  
**action** - –¥–µ–π—Å—Ç–≤–∏–µ - 'migrate_from_group', 'join_group_by_link', 'invite_members',
       'pin_message', 'remove_members'  
**poll** - —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–µ –æ–ø—Ä–æ—Å–∞ –≤ JSON-—Ñ–æ—Ä–º–∞—Ç–µ  
**inviter** - –∫—Ç–æ –ø—Ä–∏–≥–ª–∞—Å–∏–ª  
**members** - –∏–º—è —Ç–æ–≥–æ, –∫–æ–≥–æ –ø—Ä–∏–≥–ª–∞—Å–∏–ª–∏ –∏–ª–∏ —É–¥–∞–ª–∏–ª–∏ –∏–∑ —á–∞—Ç–∞   
**message_id** - –∞–π–¥–∏ —Å–æ–æ–±—â–µ–Ω–∏—è, —Å –∫–æ—Ç–æ—Ä—ã–º —á—Ç–æ-—Ç–æ —Å–¥–µ–ª–∞–ª–∏. –ù–∞–ø—Ä–∏–º–µ—Ä, –∑–∞–ø–∏–Ω–∏–ª–∏  

–¢–æ–ª—å–∫–æ –¥–ª—è 'message':  
**text** - —Ç–µ–∫—Å—Ç —Å–æ–æ–±—â–µ–Ω–∏—è  
**from** - –∏–º—è  
**from_id** - –∞–π–¥–∏  
**reply_to_message_id** - –∞–π–¥–∏ —Å–æ–æ–±—â–µ–Ω–∏—è, –Ω–∞ –∫–æ—Ç–æ—Ä–æ–µ –æ—Ç–≤–µ—Ç–∏–ª–∏  
**edited** - –¥–∞—Ç–∞ –∏ –≤—Ä–µ–º—è, –∫–æ–≥–¥–∞ —Å–æ–æ–±—â–µ–Ω–∏–µ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä–æ–≤–∞–ª–∏  
**forwarded_from** - –∏–º—è –∞–≤—Ç–æ—Ä–∞ —Å–æ–æ–±—â–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä–æ–µ —Ñ–æ—Ä–≤–∞—Ä–¥–Ω—É–ª–∏  

–¢–æ–ª—å–∫–æ –¥–ª—è –º–µ–¥–∏–∞:  
**file** - 'siticker', 'video_file', 'animation', nan (—á—Ç–æ-—Ç–æ –¥—Ä—É–≥–æ–µ, –Ω–∞–ø—Ä–∏–º–µ—Ä - –ø–¥—Ñ)  
**thumbnail** - –ø—Ä–µ–≤—å—é  
**media_type** - —Å—Ç–∏–∫–µ—Ä –∏–ª–∏ –≤–∏–¥–æ—Å  
**sticker_emoji** - –∫–∞–∫–æ–π —ç–º–æ–¥–∂–∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç —Å—Ç–∏–∫–µ—Ä—É  
**width** –∏ **height** - —Ä–∞–∑–º–µ—Ä—ã –≤ –ø–∏–∫—Å–µ–ª—è—Ö –≤–∏–¥–æ—Å–∞ –∏–ª–∏ —Å—Ç–∏–∫–µ—Ä–∞  
**photo** - —Ñ–∞–π–ª —Ñ–æ—Ç–æ  
**mime_type** - MIME —Ç–∏–ø –º–µ–¥–∏–∞ - 'video/mp4', 'text/html', 'application/pdf' –∏ —Ç–¥  
**duration_seconds** - –ø—Ä–æ–¥–æ–ª–∂–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –≤ —Å–µ–∫—É–Ω–¥–∞—Ö –∞–Ω–∏–º–∞—Ü–∏–∏ –∏–ª–∏ –≤–∏–¥–æ—Å–∞

In [40]:
df.loc[df.members.notnull()].tail()

,id,type,date,actor,actor_id,action,title,text,inviter,from,from_id,file,thumbnail,media_type,sticker_emoji,width,height,reply_to_message_id,members,message_id,edited,photo,forwarded_from,mime_type,duration_seconds,poll
37,38,service,2021-04-12T14:26:13,Eugene Arutyunov,user106338404,invite_members,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[Vladimir üî≠ Tupikin],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1634,1640,service,2021-04-27T04:10:30,–ü–æ–ª–∏–Ω–∞ –õ–∞–¥–∏–Ω–∞,user707623959,remove_members,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[–ü–æ–ª–∏–Ω–∞ –õ–∞–¥–∏–Ω–∞],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.mime_type.unique()

array([nan, 'video/mp4', 'text/html', 'application/pdf'], dtype=object)

In [51]:
df_messages = df.loc[df['type']=='message']
len(messages)

1707

In [42]:
users = messages['from_id'].drop_duplicates()
len(users)

41

#### –î—Ä–æ–ø–Ω–µ–º —Å—Ç–∏–∫–µ—Ä—ã –∏ –≤—Å—è–∫–æ–µ —Ç–∞–∫–æ–µ –∏ –æ—Å—Ç–∞–≤–∏–º —Ç–æ–ª—å–∫–æ –Ω—É–∂–Ω—ã–µ –∫–æ–ª–æ–Ω–∫–∏

In [153]:
messages = df_messages.loc[df_messages.media_type.isnull()][['id', 'date', 'from', 'text', 'from_id', 'reply_to_message_id']]
len(messages)

1622

In [154]:
messages.head()

,id,date,from,text,from_id,reply_to_message_id
7,8,2021-04-12T13:49:56,Eugene Arutyunov,"–≥–æ—Å–ø–æ–¥–∏, —ç—Ç–æ –±—É–¥–µ—Ç —Å–∞–º—ã–π –≥—Ä–∞–Ω–¥–∏–æ–∑–Ω—ã–π –ø–∞—Ä–∫ —ç–≤–∞",user106338404,NaN
10,11,2021-04-12T13:50:54,Eugene Arutyunov,"–Ω–∞–≤–µ—Ä–Ω–æ–µ –Ω–∞–¥–æ –¥–æ –∑–∞–≤—Ç—Ä–∞ –µ—â—ë –ø–æ—Ç–µ—Ä–ø–µ—Ç—å, —á—Ç–æ–±—ã –≤...",user106338404,NaN
13,14,2021-04-12T14:03:46,Tatsiana Kavalchuk,–∞ –¥–æ –∫–∞–∫–æ–≥–æ —á–∏—Å–ª–∞ —É—á–∞—Å—Ç–Ω–∏–∫–æ–≤ —Ç–µ—Ä–ø–∏–º?,user346294549,11.0
15,16,2021-04-12T14:05:46,Denis Domrachev,–í—Å–µ–º –ø—Ä–∏–≤–µ—Ç),user64697041,NaN
16,17,2021-04-12T14:06:01,Eugene Arutyunov,–Ω–µ –∑–Ω–∞—é ¬Ø\_(„ÉÑ)_/¬Ø\n\n–Ω—É –¥–æ –∑–∞–≤—Ç—Ä–∞ –∫–∞–∫ –º–∏–Ω–∏–º—É–º,user106338404,14.0

##### –ü–æ—Å–º–æ—Ç—Ä–∏–º, —Å–∫–æ–ª—å–∫–æ —Å–æ–æ–±—â–µ–Ω–∏–π - –æ—Ç–≤–µ—Ç—ã –Ω–∞ –¥—Ä—É–≥–∏–µ —Å–æ–æ–±—â–µ–Ω–∏—è

In [155]:
f'{len(messages.loc[messages.reply_to_message_id.notnull()])}/{len(messages)}'

'649/1622'

#### –ó–∞–º–µ–Ω–∏–º —Å–æ–æ–±—â–µ–Ω–∏—è –Ω–∞ –∏—Ö –¥–ª–∏–Ω—É

In [156]:
messages.text = messages.text.apply(len)
messages = messages.rename({'text': 'text_length'}, axis=1)
messages.head()

,id,date,from,text_length,from_id,reply_to_message_id
7,8,2021-04-12T13:49:56,Eugene Arutyunov,45,user106338404,NaN
10,11,2021-04-12T13:50:54,Eugene Arutyunov,94,user106338404,NaN
13,14,2021-04-12T14:03:46,Tatsiana Kavalchuk,36,user346294549,11.0
15,16,2021-04-12T14:05:46,Denis Domrachev,12,user64697041,NaN
16,17,2021-04-12T14:06:01,Eugene Arutyunov,43,user106338404,14.0

#### –ü–æ–ø—Ä–∞–≤–∏–º —Ç–∏–ø—ã –∫–æ–ª–æ–Ω–æ–∫

In [157]:
messages.dtypes

id                       int64
date                    object
from                    object
text_length              int64
from_id                 object
reply_to_message_id    float64
dtype: object

In [158]:
messages.date = messages.astype({'date': 'datetime64'}).date
messages.reply_to_message_id.fillna(0, inplace=True)
messages.reply_to_message_id = messages.astype({'reply_to_message_id': 'int32'}).reply_to_message_id

In [159]:
messages.tail()

,id,date,from,text_length,from_id,reply_to_message_id
1738,1744,2021-04-27 09:28:20,–ö–æ–Ω—Å—Ç–∞–Ω—Ç–∏–Ω –ö–æ–Ω—Å—Ç–∞–Ω—Ç–∏–Ω–æ–ø–æ–ª—å—Å–∫–∏–π,3,user1261603,0
1739,1745,2021-04-27 09:28:32,–ê–ª–µ–∫—Å–∞–Ω–¥—Ä –§–∏–ª–∏–Ω,4,user96081342,1743
1740,1746,2021-04-27 09:28:41,–ê–ª–µ–∫—Å–∞–Ω–¥—Ä –§–∏–ª–∏–Ω,36,user96081342,0
1742,1748,2021-04-27 09:30:29,Oxana Tyulpinova,5,user60863562,0
1744,1750,2021-04-27 09:46:39,Natalia,19,user313688585,0

–ß—Ç–æ –µ—â—ë —Ö–æ—á–µ—Ç—Å—è —Å–¥–µ–ª–∞—Ç—å:
- –°–¥–µ–ª–∞—Ç—å "–ö–æ—Ç–µ–ª", –∫—É–¥–∞ –æ—Ç–ø—Ä–∞–≤–ª—è—é—Ç—Å—è —Å–æ–æ–±—â–µ–Ω–∏—è –±–µ–∑ –∞–¥—Ä–µ—Å–∞—Ç–∞
- –°—Ö–ª–æ–ø—ã–≤–∞—Ç—å —Å–æ–æ–±—â–µ–Ω–∏—è –∏–¥—É—â–∏–µ –ø–æ–¥—Ä—è–¥ –≤ —Å–µ—Ä–∏–∏
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, —á—Ç–æ –∑–Ω–∞—á–∏—Ç "–∏–¥—É—â–∏–µ –ø–æ–¥—Ä—è–¥". –° —Ä–∞–∑–Ω–∏—Ü–µ–π –º–µ–Ω—å—à–µ –º–∏–Ω—É—Ç—ã?
- "–ü–æ–¥—Ä—è–¥–Ω–æ—Å—Ç—å" –Ω–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ –¥–ª–∏–Ω—É —Å–æ–æ–±—â–µ–Ω–∏—è - –¥–ª–∏–Ω–Ω—ã–µ —Å–æ–æ–±—â–µ–Ω–∏—è –ø–∏—Å–∞—Ç—å –¥–æ–ª—å—à–µ
- –ü—Ä–æ—Ç–µ—Å—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã—Ö –æ—Ç–≤–µ—Ç–∞—Ö
- –í–≤–µ—Å—Ç–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∑–∞—Ç—É—Ö–∞–Ω–∏—è –∞–¥—Ä–µ—Å–Ω–æ—Å—Ç–∏ - –ø–æ—Å–ª–µ, —Å–∫–∞–∂–µ–º, —Ç—Ä–µ—Ç—å–µ–≥–æ —Å–æ–æ–±—â–µ–Ω–∏—è –ø–æ–¥—Ä—è–¥ –Ω–∞—á–∏–Ω–∞–µ–º "–ø–æ–¥–æ–∑—Ä–µ–≤–∞—Ç—å", —á—Ç–æ —Å–æ–æ–±—â–µ–Ω–∏—è –æ—Ç–ø—Ä–∞–≤–ª—è—é—Ç—Å—è –≤ –ö–æ—Ç—ë–ª (—Ç–æ –µ—Å—Ç—å, —á–µ–ª–æ–≤–µ–∫ –¥—É–º–∞–µ—Ç –≤—Å–ª—É—Ö)
- –ë–µ–Ω—á–º–∞—Ä–∫ –Ω–∞ —É–≥–∞–¥—ã–≤–∞–Ω–∏–µ –∞–¥—Ä–µ—Å–∞—Ç–∞ –Ω–∞ —Ç–µ—Ö —Å–ª—É—á–∞—è—Ö, –∫–æ–≥–¥–∞ –∞–¥—Ä–µ—Å–∞—Ç –µ—Å—Ç—å
- –°—á–∏—Ç–∞—Ç—å –∞–¥—Ä–µ—Å–Ω—ã–º–∏ —Å–æ–æ–±—â–µ–Ω–∏—è, –æ—Ç–ø—Ä–µ–≤–ª–µ–Ω–Ω—ã–µ –Ω–µ —á–µ—Ä–µ–∑ —Ä–µ–ø–ª–∞–π, –∞ —Å @–º–µ–Ω—à–Ω–æ–º
- –ê–¥—Ä–µ—Å–∞—Ç–æ–º–∏ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö —Å–æ–æ–±—â–µ–Ω–∏—è @–º–æ–≥—É—Ç @–±—ã—Ç—å @–Ω–µ—Å–∫–æ–ª—å–∫–æ @—á–µ–ª–æ–≤–µ–∫

In [242]:
def flatten_replies(m_list):
    # –ó–∞–º–µ–Ω—è–µ—Ç [{id: ...}, {id: ...}, ...] –Ω–∞ {id1: {...}, id2: {...}}
    # –ó–∞–º–µ–Ω—è–µ—Ç user_id –∞–≤—Ç–æ—Ä–∞ –Ω–∞ —á–µ–ª–æ–≤–µ—á–µ—Å–∫–æ–µ –∏–º—è
    # –ó–∞–º–µ–Ω—è–µ—Ç —Å—Å—ã–ª–∫—É –Ω–∞ —Å–æ–æ–±—â–µ–Ω–∏–µ –Ω–∞ —Å—Å—ã–ª–∫—É –Ω–∞ –∞–≤—Ç–æ—Ä–∞. –ï—Å–ª–∏ –∏–º—è –∏–∑–º–µ–Ω–∏–ª–æ—Å—å, –æ–Ω–∞ –ø–µ—Ä–µ–∑–∞–ø–∏—Å—ã–≤–∞–µ—Ç—Å—è –ø–æ—Å–ª–µ–¥–Ω–∏–º
    user_names = {msg['from_id']: msg['from'] for msg in m_list}
    user_names[0] = "–ü–∞—Ä–∫"
    
    m_dict = {}
    for msg in m_list:
        msg_c = copy.deepcopy(msg)

        if msg_c['reply_to_message_id'] != 0:
            msg_c['reply_to_user'] = user_names[m_dict.get(msg['reply_to_message_id'], {'from_id': 0})['from_id']]
        else:
            msg_c['reply_to_user'] = '–ü–∞—Ä–∫'
        
        msg_c.pop('reply_to_message_id')
#         msg_c.pop('from_id')
        
        m_dict[msg['id']] = msg_c
        
    return {'users': user_names, 'messages': m_dict}

In [246]:
def to_d3_json(m_dict):
    d3_json = {'nodes': [], 'links': []}
    for uid in m_dict['users']:
        d3_json['nodes'].append({'id': m_dict['users'][uid]})

    messages = []
    for m in m_dict['messages']:
        from_user = m_dict['messages'][m]['from']
        to_user = m_dict['messages'][m]['reply_to_user']
        messages.append((from_user, to_user))
    pair_counts = Counter(messages)
    for pair, count in pair_counts.items():
        d3_json['links'].append({"source": pair[0], "target": pair[1], "value": count})

    with open('messages_counts.json', 'w') as outfile:
        json.dump(d3_json, outfile)
    return None

In [243]:
messages_dict = messages.to_dict(orient='records')

In [244]:
m = flatten_replies(messages_dict)

In [245]:
pickle.dump(m, open("messages_dict.pickle", "wb" ) )

In [ ]:
m['messages']